node_modules/
.env
.env.local
.env.*.local
dist/
build/
*.log
.DS_Store

.task1-ethers/node_modules
.task1-ethers/env
.task1-viem/node_modules
.task1-viem/env

.Advanced2-contract-stake/stake-fe/node_modules
.Advanced2-contract-stake/stake-fe/env
